<html>
    <head>
        <title>Ina's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Ina's Blog</a></h1>
        </div>
        
        <div>
            <p>published: 07.09.2019, 14:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello. It's my first post. Thank you for reading.</p>
        </div>

        <div>
            <p>published: 07.09.2019, 14:14</p>
            <h2><a href="">My second post</a></h2>
            <p>It's my second post. Just read it.</p>
        </div>
    </body>
</html>